.buy_btn {
  position: absolute;
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 11.51px;

  /**/
}
.text {
  text-align: left;
  position: absolute;
  color: var(--secondary-color);
}
