.container {
  max-width: 1088.88px;
  margin: auto;
  margin-bottom: 2rem;
}
@media (max-width: 1100px) {
  .container {
    width: calc(268px * 3);
  }
}
@media (max-width: 900px) {
  .container {
    width: calc(268px * 2);
  }
}
@media (max-width: 600px) {
  .container {
    width: 268px;
  }
}
